<nav #stickyMenu class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" [ngClass]="{'nav-sticky': scrollpage == true}">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo text-uppercase" href="index.html">
            <img src="assets/img/e-control-logo1.png" alt="" height="60">
            <!-- <img src="images/logo-dark.png" class="logo-dark" alt="" height="22"> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                <li class="nav-item" *ngFor="let item of menu">
                    <a (click)="menuNavigate(item.identifier)" routerLinkActive="active" class="nav-link pointer">{{item.name}}</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
